body{
  background-image: url('back.jpeg');
  background-size: 100%;
}

.old {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 15px;

}

li {
  float: left;
}

button{
  font-family: 'Tajawal', sans-serif;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid grey;
  background: none;
  font-size: 20px;
  text-align: center;
  height: 35px;
  width: 180px;
}

button:hover{
  border: 1px solid gold;
  transition: all 0.5s
}

.hh{
  text-align: center;
  font-size: 45px;
  font-family: 'Tajawal', sans-serif;
  color: white;
  margin-top: 10px;
}

p{
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
}

li a:hover{
  color: #0ec6c3;
  transition: all 0.5s
}

.ttt{
  float: left;
  
  border: solid 1px white ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box{
  margin: auto;
  font-family: 'Tajawal', sans-serif;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid #373636;
  background: none;
  font-size: 20px;
  text-align: center;
  height: 300px;
  width: 800px;
}

.new{
  font-family: 'Tajawal', sans-serif;

}

.box:hover{
  border: 1px solid black;
  transition: all 1.0s
}

.a{
  color: white;
}
